<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>SB Admin 2 - Dashboard</title>
	
	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	      rel="stylesheet">
	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<div id="wrapper">
	
	<!--Sidebar-->
	<div th:insert="~{templates/admin_template.html::sidebar}"></div>
	
	
	<div id="content-wrapper">
		<div id="content">
			<!--TopBar-->
			<div th:insert="~{templates/admin_template.html::topbar}"></div>
			
			<div>
				
				<!-- Begin Page Content -->
				<div class="container-fluid">
					
					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Exercises</h1>
					</div>
					
					<div class="row">
						<a type="button" class="btn btn-primary" th:href="@{/exercise/create}">Create</a>
					</div>
					<br>
					<div class="row">
						<a type="button" class="btn btn-primary"
						   th:href="@{/exercise/show/{type} (type = ${'chest'})}" style="margin-right: 20px;">Chest
						</a>
						<a type="button" class="btn btn-primary"
						   th:href="@{/exercise/show/{type} (type = ${'back'})}" style="margin-right: 20px;">Back
						</a>
						<a type="button" class="btn btn-primary"
						   th:href="@{/exercise/show/{type} (type = ${'biceps'})}" style="margin-right: 20px;">Bíceps
						</a>
						<a type="button" class="btn btn-primary"
						   th:href="@{/exercise/show/{type} (type = ${'triceps'})}" style="margin-right: 20px;">Tríceps
						</a>
						<a type="button" class="btn btn-primary"
						   th:href="@{/exercise/show/{type} (type = ${'shoulder'})}"
						   style="margin-right: 20px;">Shoulder
						</a>
						<a type="button" class="btn btn-primary"
						   th:href="@{/exercise/show/{type} (type = ${'core'})}" style="margin-right: 20px;">Core
						</a>
						<a type="button" class="btn btn-primary"
						   th:href="@{/exercise/show/{type} (type = ${'cardio'})}" style="margin-right: 20px;">Cardio
						</a>
						<a type="button" class="btn btn-primary"
						   th:href="@{/exercise/show/{type} (type = ${'hiit'})}" style="margin-right: 20px;">Hiit
						</a>
					</div>
				</div>
				<br>
				<div class="bg-gradient-white p-4 mb-30">
					<div class="col-lg-10 col-md-6">
						<div class="row pb-8">
							<div class="col-lg-3 col-md-6 col-sm-6 pb-1" th:each="exercise:${exercises}">
								<div class="product-item bg-white mb-4" style="width: 15vw">
									<div class="product-img position-relative overflow-hidden">
										<img class="img-fluid w-100"
										     th:src="@{/images/{img} (img = ${exercise.image})}" alt="">
									</div>
									<div class="text-center py-4">
										<p class="h6 text-decoration-none text-truncate"
										   th:text="${exercise.name}"></p>
									</div>
									<div class="d-flex justify-content-center">
										<div class="btn-group">
											<button type="button" class="btn btn-white"
											        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Menu
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item"
												   th:href="@{/program/add/{id} (id = ${exercise.id})}">Add to
													program</a>
												<a class="dropdown-item"
												   th:href="@{/exercise/edit/{id} (id = ${exercise.id})}">Edit</a>
												<a class="dropdown-item"
												   th:href="@{/exercise/delete/{id} (id=${exercise.id})}">Delete
													exercise</a>
											</div>
										</div>
									</div>
									<div class="d-flex justify-content-center">
										<div class="btn-group">
											<button type="button" class="btn btn-white"
											        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Quick Add
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item"
												   th:href="@{/program/quickAdd/{id} (id = ${exercise.id}, day='monday')}">
													Monday</a>
												<a class="dropdown-item"
												   th:href="@{/program/quickAdd/{id} (id = ${exercise.id}, day='tuesday')}">
													Tuesday</a>
												<a class="dropdown-item"
												   th:href="@{/program/quickAdd/{id} (id = ${exercise.id}, day='wednesday')}">
													Wednesday</a>
												<a class="dropdown-item"
												   th:href="@{/program/quickAdd/{id} (id = ${exercise.id}, day='thursday')}">
													Thursday</a>
												<a class="dropdown-item"
												   th:href="@{/program/quickAdd/{id} (id = ${exercise.id}, day='friday')}">
													Friday</a>
												<a class="dropdown-item"
												   th:href="@{/program/quickAdd/{id} (id = ${exercise.id}, day='saturday')}">
													Saturday</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Footer-->
			<div th:insert="~{templates/admin_template.html::footer}"></div>
		</div>
	</div>

</div>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>