<div th:fragment="sidebar">
	
	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/home/}">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">GymApp</div>
		</a>
		
		<hr class="sidebar-divider">
		
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" th:href="@{/exercise/}" aria-expanded="true" aria-controls="collapseTwo">
				<i class="fas fa-fw fa-dumbbell"></i>
				<span>Exercises</span>
			</a>
			<a class="nav-link collapsed" th:href="@{/program/provisional}" aria-expanded="true"
			   aria-controls="collapseTwo">
				<i class="fas fa-fw fa-calendar-minus"></i>
				<span>Provisional Program</span>
			</a>
			<a class="nav-link collapsed" th:href="@{/program/programs}" aria-expanded="true"
			   aria-controls="collapseTwo">
				<i class="fas fa-fw fa-calendar-check"></i>
				<span>Programs</span>
			</a>
			<a class="nav-link collapsed" th:href="@{/user/}" aria-expanded="true"
			   aria-controls="collapseTwo">
				<i class="fas fa-fw fa-user"></i>
				<span>Users</span>
			</a>
		</li>
		
		
		<!-- Divider -->
		<hr class="sidebar-divider">
		
		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>
	<!-- End of Sidebar -->

</div>

<div th:fragment="topbar">
	
	<!-- Topbar -->
	<nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">
		
		<!-- Sidebar Toggle (Topbar) -->
		<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		</button>
		
		
		<!-- Topbar Navbar -->
		<ul class="navbar-nav ml-auto">
			
			<!-- Nav Item - Search Dropdown (Visible Only XS) -->
			<li class="nav-item dropdown no-arrow d-sm-none">
				<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-search fa-fw"></i>
				</a>
			</li>
			
			<div class="topbar-divider d-none d-sm-block"></div>
		
		</ul>
	
	</nav>
	<!-- End of Topbar -->

</div>

<div th:fragment="footer">
	<!-- Footer -->
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Spring GymApp 2023 </span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->
</div>