<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>SB Admin 2 - Dashboard</title>
	
	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	      rel="stylesheet">
	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body>

<div id="wrapper">
	
	<!--Sidebar-->
	<div th:insert="~{templates/admin_template.html::sidebar}"></div>
	
	
	<div id="content-wrapper" style="background-color: #FFB6C1">
		<div id="content" style="background-color: #FFB6C1; margin-left: 0vw;">
			<!--TopBar-->
			<div th:insert="~{templates/admin_template.html::topbar}"></div>
			
			<div style="background-color: #ADD8E6; width: 80vw">
				
				<!-- Page Heading -->
				<div class="d-sm-flex align-items-left justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Program</h1>
				</div>
				
				<!-- Begin Page Content -->
				<div class="container-fluid" style="background-color: #f2f2f2; width: 80vw; height: 100vh">
					
					<!-- Content Row -->
					<div class="row" style="height: 50vh; width: 60vw">
						<div class="col" style="width: 10vw; height:14vh">
							<h3>Monday</h3>
							<div th:each="exercise:${exercisesForMonday}">
								<div class="row">
									<table>
										<tr>
											<td th:text="${exercise.name}"></td>
										</tr>
										<tr>
											<td rowspan="6">
												<img style="width: 7vw; height:9vh;"
												     th:src="@{/images/{img} (img = ${exercise.image})}">
											</td>
										</tr>
										<tr>
											<td th:text="'Repes: '+ ${exercise.repetitions}"></td>
										</tr>
										<tr>
											<td th:text="'Series: '+ ${exercise.series}"></td>
										</tr>
										<tr>
											<td th:text="'Weight: '+ ${exercise.weight}"></td>
										</tr>
										<tr>
											<td th:text="'Rest: '+ ${exercise.rest}"></td>
										</tr>
										<tr>
											<td th:text="'Notes: '+ ${exercise.notes}"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="col" style="margin-left: 0vw">
							<h3>Tuesday</h3>
							<div th:each="exercise:${exercisesForTuesday}">
								<div class="row">
									<table>
										<tr>
											<td th:text="${exercise.name}"></td>
										</tr>
										<tr>
											<td rowspan="6"><img style="width: 7vw; height:9vh;"
											                     th:src="@{/images/{img} (img = ${exercise.image})}">
											</td>
										</tr>
										<tr>
											<td th:text="'Repes: '+ ${exercise.repetitions}"></td>
										</tr>
										<tr>
											<td th:text="'Series: '+ ${exercise.series}"></td>
										</tr>
										<tr>
											<td th:text="'Weight: '+ ${exercise.weight}"></td>
										</tr>
										<tr>
											<td th:text="'Rest: '+ ${exercise.rest}"></td>
										</tr>
										<tr>
											<td th:text="'Notes: '+ ${exercise.notes}"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="col" style="margin-left: 0vw">
							<h3>Wednesday</h3>
							<div th:each="exercise:${exercisesForWednesday}">
								<div class="row">
									<table>
										<tr>
											<td th:text="${exercise.name}"></td>
										</tr>
										<tr>
											<td rowspan="6"><img style="width: 7vw; height:9vh;"
											                     th:src="@{/images/{img} (img = ${exercise.image})}">
											</td>
										</tr>
										<tr>
											<td th:text="'Repes: '+ ${exercise.repetitions}"></td>
										</tr>
										<tr>
											<td th:text="'Series: '+ ${exercise.series}"></td>
										</tr>
										<tr>
											<td th:text="'Weight: '+ ${exercise.weight}"></td>
										</tr>
										<tr>
											<td th:text="'Rest: '+ ${exercise.rest}"></td>
										</tr>
										<tr>
											<td th:text="'Notes: '+ ${exercise.notes}"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="col" style="margin-left: 0vw">
							<h3>Thursday</h3>
							<div th:each="exercise:${exercisesForThursday}">
								<div class="row">
									<table>
										<tr>
											<td th:text="${exercise.name}"></td>
										</tr>
										<tr>
											<td rowspan="6"><img style="width: 7vw; height:9vh;"
											                     th:src="@{/images/{img} (img = ${exercise.image})}">
											</td>
										</tr>
										<tr>
											<td th:text="'Repes: '+ ${exercise.repetitions}"></td>
										</tr>
										<tr>
											<td th:text="'Series: '+ ${exercise.series}"></td>
										</tr>
										<tr>
											<td th:text="'Weight: '+ ${exercise.weight}"></td>
										</tr>
										<tr>
											<td th:text="'Rest: '+ ${exercise.rest}"></td>
										</tr>
										<tr>
											<td th:text="'Notes: '+ ${exercise.notes}"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="col" style="margin-left: 0vw">
							<h3>Friday</h3>
							<div th:each="exercise:${exercisesForFriday}">
								<div class="row">
									<table>
										<tr>
											<td th:text="${exercise.name}"></td>
										</tr>
										<tr>
											<td rowspan="6"><img style="width: 7vw; height:9vh;"
											                     th:src="@{/images/{img} (img = ${exercise.image})}">
											</td>
										</tr>
										<tr>
											<td th:text="'Repes: '+ ${exercise.repetitions}"></td>
										</tr>
										<tr>
											<td th:text="'Series: '+ ${exercise.series}"></td>
										</tr>
										<tr>
											<td th:text="'Weight: '+ ${exercise.weight}"></td>
										</tr>
										<tr>
											<td th:text="'Rest: '+ ${exercise.rest}"></td>
										</tr>
										<tr>
											<td th:text="'Notes: '+ ${exercise.notes}"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>